$family:"space Mono";
$weight:700;
$bg-color1:#0d686d;
$bg-color2:#00474b;
$bg-color3:#9fe8df;
$main-bg-color:#c5e4e7;
$color1:#fff;
$color6:#21c4ad;
$color2:#2bbeab;
$color3:#557574;
$color4:#055c63;
$input-color:#f3f8fb;
$color5:#f2ffff;
$hover1:#004946;
$placeholder:#afc4c4;

$mobile:375px;
$desktop:1440px;